
__pycache__/commonCladeSystem.cpython-39.pyc
.idea/workspace.xml
.idea/vcs.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/Dinos.iml
.idea/Dinos.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
